/* Ctrl+Shift+X => Prettier => install extension */
/* Shift+Alt+F - format document */
/* https://type-scale.com/ */
/* https://fonts.google.com/ */

:root {
  --text-color: #272727;
  --bg-color: #fcfcfc;
  --active-color: #3737ca;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: var(--bg-color);
  font-family: "Merriweather", serif;
  font-weight: 300;
  line-height: 1.75;
  color: var(--text-color);
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem;
}

h2 {
  font-size: 1.296rem;
}

h3 {
  font-size: 1.215rem;
}

h4 {
  font-size: 1.138rem;
}

h5 {
  font-size: 1.067rem;
}

small,
.text_small {
  font-size: 0.937rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */



.image-left {
  float: left;
  margin: 0 1em 0 0;
  display: block;
}

.clear-float::after {
  clear: left;
  display: block;
  content: "";
}

nav.navigation a {
  text-decoration: none;
  color: var(--text-color);
}

nav.navigation ul {
  list-style: none;
  text-transform: uppercase;
}

.navigation a.active  {
  color: var(--active-color);
}

.row {
  display: flex;
}

.main-content .sidebar {
  width: 150px;
  margin: 1em;
}

.main-content article.product-content {
  width: auto;
}

ul.other-products {
  padding: 0;
  list-style: none;
}

.navigation-main ul ul {
  display: none;
  position: absolute;

}

.navigation-main ul {
  justify-content: space-around;
  display: flex;
  text-decoration: overline;
  height: 200px;
  align-items: center;
  
  
}

.navigation-main li:hover  a{
  color: rgb(241, 115, 12);
  
} 

nav.navigation-main{
  background-image: url("https://picsum.photos/1920/1080");
  background-size: 100% auto;
  background-position: center;
  height: 200px;

}

.navigation-main li:hover ul{
  display: block;
  padding: 0;
}

ul li ul li ul > li{
  display: none;
  position: fixed;
  right: 60%;

}

ul ul li:hover ul > li{
  display: block;
}


@media print{
  .navigation-main{
    display: none;
  }

  .kontakty{
    display: none;
  }
  .sidebar{
    display: none;
  }

  .navigation{
    display: none;
  }
}


main {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  min-width: 200px;
}

@media  screen and (min-width: 320px) { 
  main {
    margin: 0 auto;
    width: 100%;
  }
  .row{
    display: block;
  }
}

@media  screen and (min-width: 960px) { 
  main {
    margin: 0 auto;
    width: 95%;

  }
  .row{
    display: flex;
  }
}