.container
    .row#products
        for product in products
            .col.product
                p.product-name=product.name
                img.product-img(src=product.image)
            .col.product-data
                p.product-age= `Age: ${product.age}`
                p.product-price= `Price: ${product.price}` 
                p.product-len= `Lenght: ${product.len}` 
                p.product-quantity= `Quantity: ${product.quantity}` 