footer {
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    top:0;
}

#foot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    color: white;
    height: 58px;

}

#foot-dis{
    margin-right: 5px;
}

.foot-icon{
    margin: 0 4px 0 4px;
}

@media only screen and (max-width: 768px) {

#foot-dis, .foot-icon {
    font-size: 1em;
}
}

@media only screen and (min-width: 769px) {
    #foot-dis, .foot-icon {
        font-size: 1.2em;
    }

}