nav{
    position: sticky;
    top:0px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}


#cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    border-radius:24px 0px 0px 24px;
    color: white;
    width: 60px;
    height: 60px;

}

#cart-icon{
    margin-left: 4px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nav_text);
    min-width: 80%;
    border-radius: 0 24px 24px 0;
    background: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
    height: 60px;
}

#logo>p {
    margin: 0 10px 0 0;
}

@media only screen and (max-width: 768px) {
    #logo{
        font-size: 2em;
    }
    #logo-icon{
        font-size: 1em;
    }
    #cart-icon{
        font-size: 2em;

    }
}

@media only screen and (min-width: 769px) {
    #logo{
        font-size: 2.5em;
    }
    #logo-icon{
        font-size: 1em;
    }
    #cart-icon{
        font-size: 2em;

    }
}