#products{
    margin-top: 24px;
}

.product{
    justify-content: center;
    text-align: center;
    margin: 0 0 24px 24px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;


}

.product-data{
    justify-content: center;
    text-align: center;
    margin: 0 24px 24px 0;
    color: white;
    background:rgb(24, 104, 124)
}

.product-img{
    object-fit: fill;

}

.product-name{
    font-size: 2em;

}

@media only screen and (max-width: 768px) {

    #products .product > img{
        width: 40vw;
    
    }
}

@media only screen and (min-width: 769px) {

    #products .product > img{
        width: 20vw;

    }
}