doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/stylesheet/settings.css")
        link(rel="stylesheet" type="text/css" href="/stylesheet/font.css")
        link(rel="stylesheet" type="text/css" href="/stylesheet/navigation.css")
        link(rel="stylesheet" type="text/css" href="/stylesheet/products.css")
        link(rel="stylesheet" type="text/css" href="/stylesheet/footer.css")
        script(src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
        title Lowtree

    body
        nav
            include ./includes/navigation
        header  
            block content
        footer
            include ./includes/footer 
