* {
  margin: 0;
  padding: 0;
}

.name {
  margin: 0 0 8px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.inf {
  display: flex;
  justify-content: space-around;
  margin: 0 24px 0px 24px;
  font-weight: 700;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 9em;
  line-height: 1.8em;
  margin: 0 12px 12px 12px;
}

.link {
  margin-top: auto; 
  text-align: center;
  padding: 4px 0 4px 0;
  background-color: rgb(44, 44, 44);
}

.link > a {
  color: white;
}

.item{
  transition: all .2s ease-in-out;
}

.item:hover{
  transform: scale(1.05);
}


@media screen and (min-width: 320px) and (max-width: 960px) {
  .item-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 60vh;
    margin: 0 0 24px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .img {
    width: 80vw;
    height: 40vh;
    object-fit: cover;
    object-position: 0 30%;
  }
}

@media screen and (min-width: 960px) {
  .item-container {
    margin: 120px;
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(9, 1fr);
  }

  .item {
    display: flex;
    flex-direction: column;
    margin: 0 0 24px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 0 30%;
  }

  .item-1 {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .item-2 {
    grid-column: 6/10;
    grid-row: 1/2;
  }
  .item-3 {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .item-4 {
    grid-column: 4/10;
    grid-row: 2/3;
  }
  .item-5 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .item-6 {
    grid-column: 4/7;
    grid-row: 3/4;
  }
  .item-7 {
    grid-column: 7/10;
    grid-row: 3/4;
  }
}
